body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0077cc;
}

.logo span {
  display: block;
  font-size: 18px;
}

h1 {
  color: #0077cc;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  border: 3px dashed #0077cc;
  padding: 15px;
  background: white;
  border-radius: 10px;
  text-align: left;
}

.card h2 {
  color: #0077cc;
  text-align: center;
}

.card h3 {
  text-align: center;
}

.highlight {
  color: red;
  font-weight: bold;
  text-align: center;
}

.price {
  color: red;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  background: red;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}