body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 700px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border: 2px solid #ddd;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

textarea {
  resize: none;
  height: 60px;
}

.row {
  display: flex;
  gap: 10px;
}

.row input {
  flex: 1;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #333;
}

#message {
  text-align: center;
  color: green;
  margin-top: 10px;
}