body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111b21;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.call-screen{
    text-align:center;
}

.profile{
    width:140px;
    height:140px;
    border-radius:50%;
    border:4px solid #25D366;
}

h2{
    margin-top:15px;
}

#status{
    color:#bbb;
}

.buttons{
    margin-top:40px;
    display:flex;
    gap:20px;
    justify-content:center;
}

button{
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    font-size:25px;
    cursor:pointer;
}

.mute{
    background:#3a3a3a;
    color:white;
}

.speaker{
    background:#3a3a3a;
    color:white;
}

.end{
    background:red;
    color:white;
    transform:rotate(135deg);
}