*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';

}


body{

background:#fce4ec;
transition:.5s;

}



header{

background:#e91e63;
color:white;
padding:20px;
text-align:center;

}


header button{

padding:10px;
border:none;
border-radius:20px;

}



.banner{

height:300px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:
linear-gradient(
120deg,
#ff758c,
#ff7eb3
);

color:white;

}



.banner h1{

font-size:45px;

}



.banner button{

padding:15px 30px;

border:none;

border-radius:30px;

}



.container{

padding:40px;

}



#search{

width:100%;

padding:15px;

border-radius:30px;

border:2px solid pink;

}



#friendList{

display:flex;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}



.friend-card{

background:white;

width:300px;

padding:25px;

border-radius:25px;

text-align:center;

box-shadow:
0 10px 30px #aaa;

animation:show 1s;


}



@keyframes show{

from{

transform:translateY(50px);

opacity:0;

}


to{

transform:translateY(0);

opacity:1;

}

}



.friend-card:hover{

transform:scale(1.05);

}



.friend-card img{

width:150px;

height:150px;

border-radius:50%;

}



button{

cursor:pointer;

background:#e91e63;

color:white;

border:none;

padding:10px 20px;

border-radius:20px;

margin:10px;

}



.commentInput{

padding:10px;

border-radius:20px;

}



.comments{

margin-top:15px;

color:#e91e63;

}



#popup{

display:none;

position:fixed;

top:20%;

left:35%;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 40px gray;

}



#popup input{

display:block;

padding:10px;

margin:10px;

width:250px;

}



/* Dark Theme */


.dark{

background:#121212;

color:white;

}


.dark .friend-card{

background:#333;

color:white;

}